@font-face {
  font-family: Roboto;
  src: url(fonts/Roboto/Roboto-Thin.ttf);
  font-weight: 100;
}

@font-face {
  font-family: Roboto;
  src: url(fonts/Roboto/Roboto-ThinItalic.ttf);
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: Roboto;
  src: url(fonts/Roboto/Roboto-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: Roboto;
  src: url(fonts/Roboto/Roboto-LightItalic.ttf);
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: Roboto;
  src: url(fonts/Roboto/Roboto-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Roboto;
  src: url(fonts/Roboto/Roboto-Italic.ttf);
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: Roboto;
  src: url(fonts/Roboto/Roboto-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: Roboto;
  src: url(fonts/Roboto/Roboto-MediumItalic.ttf);
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: Roboto;
  src: url(fonts/Roboto/Roboto-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: Roboto;
  src: url(fonts/Roboto/Roboto-BoldItalic.ttf);
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: Roboto;
  src: url(fonts/Roboto/Roboto-Black.ttf);
  font-weight: 900;
}

@font-face {
  font-family: Roboto;
  src: url(fonts/Roboto/Roboto-BlackItalic.ttf);
  font-weight: 900;
  font-style: italic;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::moz-selection {
  background-color: rgb(33, 142, 209);
  color: rgb(255, 255, 255);
}

::selection {
  background-color: rgb(33, 142, 209);
  color: rgb(255, 255, 255);
}

html,
body {
  height: 100%;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
}

body {
  display: grid;
  grid-template: "nav header" auto
                 "nav main"   1fr
                / 290px 1fr;
}

header {
  grid-area: header;
  padding: 1rem 3rem;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
  z-index: 1;
  display: grid;
  grid-template: auto auto / 1fr auto;
  align-content: space-between;
  align-items: center;
  gap: 1.5rem;
}

header > form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
}

header > form img,
header a > img {
  height: 1.5rem;
  width: auto;
}

header > form button,
header > form input[type="text"] {
  appearance: none;
  background: none;
  border: none;
  outline: none;
}

header > form input[type="text"] {
  height: 2rem;
  padding: 0 1rem;
  border-radius: 1rem;
  background-color: rgb(225, 231, 239);
  font-family: Roboto, Arial, sans-serif;
}

header > form input[type="text"]:hover {
  border: 1px solid rgb(250, 205, 52);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

header > form input[type="text"]:focus {
  border: 1px solid rgb(33, 142, 209);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

header > div {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: end;
  align-items: center;
  gap: 1.5rem;
}

div.profile a {
  height: 1.5rem;
}

div.greeting {
  justify-self: start;
}

header div.pfp {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: rgb(250, 205, 52);
  overflow: hidden;
}

header div.pfp {
  background-color: rgb(250, 205, 52);
}

div.pfp {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  overflow: hidden;
}

div.pfp > img {
  height: 3rem;
  width: 3rem;
  margin-top: 0.5rem;
}

header div.large {
  height: 4rem;
  width: 4rem;
}

header div.large > img {
  height: 4rem;
  width: 4rem;
  margin-top: 0.75rem;
}

header h3 {
  font-size: 1rem;
  margin-right: 1rem;
}

div.buttons a {
  width: 6rem;
  padding: 0.625rem;
  border-radius: 1.25rem;
  background-color: rgb(33, 142, 209);
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}

div.buttons a:hover {
  background-color: rgb(250, 205, 52);
  color: rgb(0, 0, 0);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

nav {
  grid-area: nav;
  padding: 1rem;
  background-color: rgb(33, 142, 209);
  color: rgb(255, 255, 255);
  display: grid;
  justify-content: start;
  align-content: start;
  row-gap: 2rem;
}

div.logo,
nav li {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}

div.logo > img {
  height: 3rem;
  width: auto;
  margin: 0;
}

nav h1 {
  font-size: 1.625rem;
  font-weight: bold;
}

nav ul {
  margin: 1rem;
  display: grid;
  gap: 1.5rem;
}

nav li {
  gap: 1.5rem;
}

nav img {
  height: 1.5rem;
  width: auto;
}

nav a {
  color: rgb(255, 255, 255);
  font-size: 1.25em;
  font-weight: bold;
  text-decoration: none;
}

nav a:hover {
  color: rgb(250, 205, 52);
  text-decoration: underline;
}

main {
  grid-area: main;
  padding: 1.5rem 2rem 4rem 1.5rem;
  background-color: rgb(225, 231, 239);
  display: grid;
  grid-template-columns: 1fr 250px;
  gap: 1.5rem;
}

div.main,
div.top,
div.bottom {
  display: grid;
  grid-template-rows: auto 1fr;
}

main h2 {
  margin: 0.5rem 0;
  font-size: 1.25rem;
  font-weight: 500;
}

div.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1.5rem;
}

div.card,
div.announcements,
div.trending {
  border-radius: 0.5rem;
  background-color: rgb(255, 255, 255);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

div.card {
  padding: 2rem 1.5rem;
  border-left: 0.5rem solid rgb(250, 205, 52);
  display: grid;
  grid-template-rows: auto auto 1fr;
  gap: 0.25rem;
}

div.card h3 {
  font-size: 1.125rem;
  font-weight: 500;
}

div.card p {
  color: rgb(99, 99, 99);
  font-size: 0.875rem;
}

div.actions {
  justify-self: end;
  align-self: end;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1.5rem;
}

div.actions a,
div.actions img {
  height: 1.5rem;
}

div.side {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 1.5rem;
}

div.announcements,
div.trending {
  height: auto;
  padding: 1rem 1.5rem 0 1.5rem;
}

div.announcements {
  display: grid;
  grid-template-rows: repeat(auto-fit, auto);
}

div.announcement {
  min-height: 5rem;
  padding: 1rem 0;
  border-bottom: 1px solid rgb(209, 209, 209);
  overflow: hidden;
  text-overflow: ellipsis;
}

div.announcement:last-child {
  border-bottom: none;
}

div.announcement > h4 {
  font-size: 0.75rem;
  font-weight: bold;
}

div.announcement > p {
  color: rgb(99, 99, 99);
  font-size: 0.7rem;
}

div.trending {
  padding: 1rem 1.5rem;
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(auto, 1fr));
}

div.project {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}

div.project:nth-child(1) > div.pfp {
  background-color: rgb(223, 241, 253);
}

div.project:nth-child(2) > div.pfp {
  background-color: rgb(250, 205, 52);
}

div.project:nth-child(3) > div.pfp {
  background-color: rgb(162, 162, 162);
}

div.project:nth-child(4) > div.pfp {
  background-color: rgb(253, 162, 172);
}

main div.info > h4 {
  font-size: 0.875rem;
  font-weight: normal;
}

main div.info > p {
  color: rgb(99, 99, 99);
  font-size: 0.75rem;
}