@font-face {
  font-family: Roboto;
  src: url(fonts/Roboto/Roboto-Thin.ttf);
  font-weight: 100;
}

@font-face {
  font-family: Roboto;
  src: url(fonts/Roboto/Roboto-ThinItalic.ttf);
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: Roboto;
  src: url(fonts/Roboto/Roboto-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: Roboto;
  src: url(fonts/Roboto/Roboto-LightItalic.ttf);
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: Roboto;
  src: url(fonts/Roboto/Roboto-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Roboto;
  src: url(fonts/Roboto/Roboto-Italic.ttf);
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: Roboto;
  src: url(fonts/Roboto/Roboto-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: Roboto;
  src: url(fonts/Roboto/Roboto-MediumItalic.ttf);
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: Roboto;
  src: url(fonts/Roboto/Roboto-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: Roboto;
  src: url(fonts/Roboto/Roboto-BoldItalic.ttf);
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: Roboto;
  src: url(fonts/Roboto/Roboto-Black.ttf);
  font-weight: 900;
}

@font-face {
  font-family: Roboto;
  src: url(fonts/Roboto/Roboto-BlackItalic.ttf);
  font-weight: 900;
  font-style: italic;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
}

body {
  display: grid;
  grid-template: "nav header" auto
                 "nav main"   1fr
                / 290px 1fr;
}

header {
  grid-area: header;
  padding: 1rem 3rem;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
  z-index: 1;
  display: grid;
  grid-template: auto auto / 1fr auto;
  align-content: space-between;
  align-items: center;
  gap: 1.5rem;
}

header > form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
}

header > form img,
header a > img {
  height: 1.5rem;
  width: auto;
}

header > form button,
header > form input[type="text"] {
  appearance: none;
  background: none;
  border: none;
  outline: none;
}

header > form input[type="text"] {
  height: 2rem;
  padding: 0 1rem;
  border-radius: 1rem;
  background-color: rgb(225, 231, 239);
}

header > form input[type="text"]:hover {
  border: 1px solid rgb(250, 205, 52);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

header > form input[type="text"]:focus {
  border: 1px solid rgb(33, 142, 209);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

header > div {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: end;
  align-items: center;
  gap: 1.5rem;
}

header > div:nth-child(2) > a {
  height: 1.5rem;
}

header > div:nth-child(3) {
  justify-self: start;
}

header div.profile {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: rgb(250, 205, 52);
  overflow: hidden;
}

header div.profile > img {
  height: 3rem;
  width: 3rem;
  margin-top: 0.5rem;
}

header div.large {
  height: 4rem;
  width: 4rem;
}

header div.large > img {
  height: 4rem;
  width: 4rem;
  margin-top: 0.75rem;
}

header h3 {
  margin-right: 1rem;
}

header > div:nth-child(4) a {
  width: 6rem;
  padding: 0.625rem;
  border-radius: 1.25rem;
  background-color: rgb(33, 142, 209);
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}

header > div:nth-child(4) a:hover {
  background-color: rgb(250, 205, 52);
  color: rgb(0, 0, 0);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

nav {
  grid-area: nav;
  padding: 1rem;
  background-color: rgb(33, 142, 209);
  color: rgb(255, 255, 255);
  display: grid;
  justify-content: start;
  align-content: start;
  row-gap: 2rem;
}

nav > div,
nav li {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}

nav > div > img {
  height: 3rem;
  width: auto;
  margin: 0;
}

nav h1 {
  font-size: 1.625rem;
  font-weight: bold;
}

nav ul {
  margin: 1rem;
  display: grid;
  gap: 1.5rem;
}

nav li {
  gap: 1.5rem;
}

nav img {
  height: 1.5rem;
  width: auto;
}

nav a {
  color: rgb(255, 255, 255);
  font-size: 1.25em;
  font-weight: bold;
  text-decoration: none;
}

nav a:hover {
  color: rgb(250, 205, 52);
  text-decoration: underline;
}

main {
  grid-area: main;
  background-color: rgb(225, 231, 239);
}